.item {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.todo {
    padding: 0 5px;
    flex: 1;
}

.todo--completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}